version: '3.8'
services:
  discovery-service:
    build: ./discovery-service
    ports:
      - "8761:8761"
  api-gateway:
    build: ./api-gateway
    depends_on:
      - discovery-service
    ports:
      - "8080:8080"
  product-service:
    build: ./product-service
    depends_on:
      - discovery-service
    ports:
      - "8081:8081"
  order-service:
    build: ./order-service
    depends_on:
      - discovery-service
    ports:
      - "8082:8082"
  user-service:
    build: ./user-service
    depends_on:
      - discovery-service
    ports:
      - "8083:8083"
